@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Detalles Usuario";
}

<h2>Detalles Usuario.</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h4>Roles para este usuario</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>Este usuario aún no tiene un rol asignado.</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>



